{% extends "base.html" %}

{% block title %}[dev]EQUIPSMITH{% endblock title %}

{% block extrahead %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="alert alert-success" role="alert">
 Welcomeback! :  <strong> {{ user.get_username }} </strong>
</div>
{% endif %}

<div class="basic">
  <div class="row">
    <div class="col-sm-24 col-md-12">
      <div class="a1">
        <h3>col-md-12</h3>
        <p>幅いっぱいの内容を書く</p>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="b1">
        <h3>col-md-6</h3>
        <p>左半分の内容を書く</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="b2">
        <h3>col-md-6</h3>
        <p>右半分の内容を書く</p>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-8 col-md-4">
      <div class="c1">
        <h3>col-md-4</h3>
        <p>左三分の一の内容を書く</p>
      </div>
    </div>
    <div class="col-sm-8 col-md-4">
      <div class="c2">
        <h3>col-md-4</h3>
        <p>中央三分の一の内容を書く</p>
      </div>
    </div>
    <div class="col-sm-8 col-md-4">
      <div class="c3">
        <h3>col-md-4</h3>
        <p>右三分の一の内容を書く</p>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="d1">
        <h3>col-md-3</h3>
        <p>左四分の一の内容を書く</p>
    </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="d2">
        <h3>col-md-6</h3>
        <p>中央の部分を書く</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="d4">
        <h3>col-md-3</h3>
        <p>右四分の一の内容を書く</p>
    </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-sm-24 col-md-12">
      <div class="z1">
        <p>Copyright 2019 Data Engineering and Information Management Laboratory Allright Reserved.</p>
      </div>
    </div>
  </div> -->

</div>

{% endblock %}