# Specify filepatterns you want git to ignore.

# Created by https://www.gitignore.io/api/linux,django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Ignore local virtual environment
venv_osx
devenv_win
*/*/migrations

# FOR MACOS IGNORE SETTINGS
.DS_Store

# If your build process includes running collectstatic, then ...